hr{
    width: 100%;
    margin-top: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    
    .filters{
        display: flex;
        gap: 10px;
        p{
            display: flex;
            gap : 5px;
            align-items: center;
            border: 2px solid black;
            border-radius: 50px;
            padding: 5px 20px;
        }
    }
    .postJobButton{
        color: white;
        border: 2px solid black;
        background-color: blue;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        margin-top: 16px;
        height: 30px;
    }
    
    }
    .left{
        max-height: 700px;
        overflow-y: scroll;
        
        .job-card{
            margin: 5px;
        }

}
