.user-assign-container {
  display: flex;
  justify-content: space-around;
  align-items: rows;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px;
  width: 800px;
}

.user-info {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}
.svg{
  width: 20px;
  height: 20px;
}
.assign-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.assign-button:hover {
  background-color: #0056b3;
}

.complete-status{
  display: flex;
  justify-content: space-around;
  width: 450px;
  .message{
    display: flex;
    font-size: 16px;
    text-align: center;
    &:hover{
      text-decoration: underline;
    }
  }
  .svg{
    width: 30px;
    height: auto;
  }  
}


.assigned-button {
  background-color: #FFB800;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
.completed-button {
  background-color: #21B414;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
